{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <title>Contacts</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body>
    {{ template "form" .Form }} {{template "display" .Data }}

    <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if(evt.detail.xhr.status === 422) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      })
    })
    </script>
  </body>
</html>
{{ end }}
<!--  -->
{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  <label for="name">
    <input type="text"
      {{if .Values.name}} value="{{.Values.name}}" {{end}}
      name="name" id="name" placeholder="Name" required />
  </label>
  <label for="email">
    <input type="email"
      {{if .Values.email}} value="{{.Values.email}}" {{end}}
      name="email" id="email" placeholder="Email" required />
  </label>
  {{if .Errors.email}}
    <div style="color: red">{{.Errors.email}}</div>
  {{end}}
  <button type="submit">Create Contact</button>
</form>
{{ end }}
<!--  -->
{{ block "display" .}}
<div id="contacts">
  {{ range .Contacts }}
  {{ template "contact" .}}
  {{ end }}
</div>
{{ end }}


{{block "contact" .}}
<div
  class="contact"
  style="
    display: flex;
    padding: 12px;
    border: 1px solid blue;
    border-radius: 12px;
    margin-top: 12px;
    gap: 12px;
    align-items: flex-end;
  "
  id="contact-{{ .Id }}"
>
  <div style="display: flex;flex-direction: column;">
    <div><span>Name:</span> <span>{{ .Name }}</span></div>
    <div><span>Email:</span> <span>{{ .Email }}</span></div>
  </div>
  <div style="width: 1rem;">
    <button
      hx-indicator="#ci-{{ .Id }}"
      hx-target="#contact-{{ .Id }}"
      hx-swap="outerHTML swap:500ms"
      hx-delete="/contacts/{{ .Id }}"
      style="cursor: pointer;"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2M10 11v6M14 11v6"/>
      </svg>
    </button>
  </div>
    <div id="ci-{{ .Id }}" class="htmx-indicator">
      <span>Loading...</span>
    </div>
</div>
{{end}}

{{ block "oob-contact" .}}
<div id="contacts" hx-swap-oob="afterbegin" >
  {{ template "contact" . }}
</div>
{{end}}
